In [0]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Employee_data").getOrCreate()

In [0]:
data = [
("Ananya", "HR", 52000),
("Rahul", "Engineering", 65000),
("Priya", "Engineering", 60000),
("Zoya", "Marketing", 48000),
("Karan", "HR", 53000),
("Naveen", "Engineering", 70000),
("Fatima", "Marketing", 45000)
]
columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)

In [0]:
df.show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Ananya|         HR| 52000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
|  Zoya|  Marketing| 48000|
| Karan|         HR| 53000|
|Naveen|Engineering| 70000|
|Fatima|  Marketing| 45000|
+------+-----------+------+

In [0]:
# Print the schema of the DataFrame.
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

In [0]:
# 3. Count total number of employees.
print("Total Employees: ",df.count())

Total Employees:  7

In [0]:
from pyspark.sql.functions import *
# 4. Add a new column Bonus which is 15% of Salary.
df.withColumn("Bonus", col("Salary") * 0.15).show()

+------+-----------+------+-------+
|  Name| Department|Salary|  Bonus|
+------+-----------+------+-------+
|Ananya|         HR| 52000| 7800.0|
| Rahul|Engineering| 65000| 9750.0|
| Priya|Engineering| 60000| 9000.0|
|  Zoya|  Marketing| 48000| 7200.0|
| Karan|         HR| 53000| 7950.0|
|Naveen|Engineering| 70000|10500.0|
|Fatima|  Marketing| 45000| 6750.0|
+------+-----------+------+-------+

In [0]:
# 5. Add a new column NetPay = Salary + Bonus.
df.withColumn("Bonus", col("Salary") * 0.15)\
    .withColumn("NetPay",col("Salary")+col("Bonus")).show()

+------+-----------+------+-------+-------+
|  Name| Department|Salary|  Bonus| NetPay|
+------+-----------+------+-------+-------+
|Ananya|         HR| 52000| 7800.0|59800.0|
| Rahul|Engineering| 65000| 9750.0|74750.0|
| Priya|Engineering| 60000| 9000.0|69000.0|
|  Zoya|  Marketing| 48000| 7200.0|55200.0|
| Karan|         HR| 53000| 7950.0|60950.0|
|Naveen|Engineering| 70000|10500.0|80500.0|
|Fatima|  Marketing| 45000| 6750.0|51750.0|
+------+-----------+------+-------+-------+

In [0]:
# 6. Display only employees from the “Engineering” department.
df.filter(col("Department") == 'Engineering').show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
|Naveen|Engineering| 70000|
+------+-----------+------+

In [0]:
# 7. Display employees whose salary is greater than 60000.
df.filter(col("Salary")>60000).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| Rahul|Engineering| 65000|
|Naveen|Engineering| 70000|
+------+-----------+------+

In [0]:

# 8. Display employees who are not in the “Marketing” department.
df.filter(col("Department") != "Marketing").show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Ananya|         HR| 52000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
| Karan|         HR| 53000|
|Naveen|Engineering| 70000|
+------+-----------+------+

In [0]:
#Show top 3 highest paid employees
df.orderBy(col("Salary").desc()).limit(3).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Naveen|Engineering| 70000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
+------+-----------+------+

In [0]:
#Sort the data by Department ascending and Salary descending.
df.orderBy(col("Department").asc(), col("Salary").desc()).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Naveen|Engineering| 70000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
| Karan|         HR| 53000|
|Ananya|         HR| 52000|
|  Zoya|  Marketing| 48000|
|Fatima|  Marketing| 45000|
+------+-----------+------+

In [0]:
df.withColumn(
    "Level",
    when(col("Salary") > 60000, "Senior")
    .when((col("Salary") >= 50000) & (col("Salary") <= 60000), "Mid")
    .otherwise("Junior")
).show()

+------+-----------+------+------+
|  Name| Department|Salary| Level|
+------+-----------+------+------+
|Ananya|         HR| 52000|   Mid|
| Rahul|Engineering| 65000|Senior|
| Priya|Engineering| 60000|   Mid|
|  Zoya|  Marketing| 48000|Junior|
| Karan|         HR| 53000|   Mid|
|Naveen|Engineering| 70000|Senior|
|Fatima|  Marketing| 45000|Junior|
+------+-----------+------+------+

In [0]:
#Convert all names to uppercase.
df.withColumn("Name",upper(col("Name"))).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|ANANYA|         HR| 52000|
| RAHUL|Engineering| 65000|
| PRIYA|Engineering| 60000|
|  ZOYA|  Marketing| 48000|
| KARAN|         HR| 53000|
|NAVEEN|Engineering| 70000|
|FATIMA|  Marketing| 45000|
+------+-----------+------+